form {
  width: 21em;
  padding: 1em 0;
  
  input {
    font-size: 1em;
    width: 100%;
    resize: none;
    vertical-align: top;
    padding: 0.7em 1em;
    margin-bottom: 0.6em;
    box-sizing: border-box;
    border-radius: 0.18em;
    color: #676767;
    background: #e4e3e3;
    border: none;
  }

  select {
    background: #e4e3e3;
    border: none;
    border-radius: 0.18em;
    padding: 0.3em;
  }

  label {
    display: inline-block;
    margin-bottom: 0.4em;
  }

  input[type=submit], button {
    width: 100%;
  }

}

.btn, input[type=submit], button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.85em;
  color: white;
  background: $accent;
  border: none;
  -webkit-appearance: none;
  padding: 0.7em 1em;
  border-radius: 0.18em;
  transition: all 200ms ease-in-out;
  margin-bottom: 0.6em;

  &.disabled, &:disabled {
    // background: #93a0be;
    background: #a9afbc
  }

  &.btn-wide {
    width: 100%;
  }

  &.loading {
    // 
  }
}
