.accent {
    color: $accent;
}

.text-center {
  text-align: center;
}

.aesthetic {
  text-transform: uppercase;
  // letter-spacing: 0.06em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: $darkgrey;
}

h1,h2,h3,h4,h5,h6 {
  @extend .aesthetic;
  margin-bottom: 0.5em;
}

p {
  color: #676767;
  margin-bottom: 0.5em;
}

a {
    color: $accent;
    text-decoration: none;
    &.active {
        color: $accent !important;
    }
}

table {
  width: 100%;
  th {
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  td,th {
    padding: 0.5em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #eee;
  }
  img {
    max-width: 5em;
  }
}
