.accent {
    color: $accent;
}

.text-center {
  text-align: center;
}

.aesthetic {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: $darkgrey;
}

h1,h2,h3,h4,h5,h6 {
  @extend .aesthetic;
}

p {
  color: #676767;
}

a {
    color: $accent;
    text-decoration: none;
}

table {
  width: 100%;
  th {
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  td,th {
    padding: 0.5em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #eee;
  }
  img {
    max-width: 5em;
  }
}
