@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

$accent: #2864e6;
$grey: #f7f8f8;
$darkgrey: #333;

@import 'layout';
@import 'markup';
@import 'input';
@import 'card';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $grey;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  perspective: 70em;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-vertical {
  flex-direction: column;
}

.flex-spacer {
  flex-grow: 1;
}

.site-logo {
  width: 12.5em;
  path {
    stroke: red;
  }
}
.site-logo-small {
  width: 3.4em;
  vertical-align: middle;
  height: 3em;
  transform: translateY(-4%);
}

.site-logo-animated {
  text-align: center;
  position: relative;
  .logo {
    position: relative;
  }
  .site-logo {
    animation: logo-anim 500ms ease-in-out infinite;
  }
  .road {
    position: absolute;
    bottom: 26%;
    width: 70%;
    margin: auto;
    height: 0.6em;
    background: black;
  }
}
@keyframes logo-anim {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.2%);
  }
}
