<div class="flex-center text-center">


  <form (keyup.enter)="login(title.value, url.value)" class="card">
    
    <h1>Welcome.</h1>
    <br>
    <h4>Generate a shortlink</h4>
    <br>

    <div class="form-group">
      <input #title type="text" class="form-control" id="name" placeholder="Title (leave blank for random)" required> 
      <input #url type="url" class="form-control" id="url" placeholder="URL" required>
      <button (click)="addRedirect(title.value, url.value)" *ngIf="!submitted" [disabled]="formDisabled" type="button" class="btn btn-white btn-large">Get link</button>
    </div>
    
    <div *ngIf="submitted">
      <h4>Send it:</h4>
      <a href="/go/{{ linkTitle }}">{{ linkTitle }}</a>
    </div>

  </form>



</div>

<!-- <div id="files">
  <ul>
    <table>
      <tr>
        <th>Name</th>
        <th>Filesize</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let file of files">
        <td><a href="/">{{ file.name }}</a></td>
        <td>{{ file.size }}</td>
        <td>{{ file.date | date: "EEEE HH:mm" }}</td>
      </tr>
    </table>
  </ul>
</div> -->