<div class="flex-center text-center">
  
  <form (ngSubmit)="onSubmit(title.value, url.value)" #redirectForm="ngForm" class="card text-center">
    
    <h3>Shortlink</h3>
    <p>Generate it and send it to friends</p>
    <br>

    <div class="form-group">

      <input #url="ngModel" type="text" class="form-control" id="url"
            [(ngModel)]="redirectModel.url" name="url"
            placeholder="URL"
            required>

      <input #title="ngModel" type="text" class="form-control" id="title"
            [(ngModel)]="redirectModel.title" name="title"
            placeholder="Title">

      <button type="submit" class="btn {{ submitted ? 'loading' : '' }}" [disabled]="!redirectForm.form.valid || submitted">Generate</button>
      
      <!-- <p class="accent">{{ title.value }}</p> -->

    </div>

    <div [hidden]="!submitted" class="aesthetic card-flap">
      <input type="readonly" onClick="this.select()" value="{{ generatedLink }}">
      <a href="/go/{{ linkTitle }}" target="_blank" class="btn btn-wide">Check your link</a>
    </div>

  </form>

</div>